<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    {% block style %}
    {% endblock %}
</head>
<body>
<div id="main">
    {% block header %}
    {% endblock %}
    <div id="content_header"></div>
    <div id="site_content">
        <div id="banner"></div>
        {% block sidebar %}
        {% endblock %}
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <div id="content_footer"></div>
    <div id="footer">
        <p><a href="/">Главная</a> | <a href="products">Товары</a> | <a href="contacts">Контакты</a></p>
        <p>Copyright &copy; {{ year }} </p>
    </div>
</div>
</body>
</html>