<div id="sidebar_container">
            <div class="sidebar">
                <div class="sidebar_top"></div>
                <div class="sidebar_item">
                    <!-- insert your sidebar items here -->
                    <h3>Новости</h3>
                    <h4>Открытие магазина</h4>
                    <h5>25 марта 2022</h5>
                    <p>25 марта открылся наш интернет-магазин.<br/><a
                            href="#">Далее</a></p>
                </div>
                <div class="sidebar_base"></div>
            </div>
<!--            <div class="sidebar">-->
<!--                <div class="sidebar_top"></div>-->
<!--                <div class="sidebar_item">-->
<!--                    <h3>Useful Links</h3>-->
<!--                    <ul>-->
<!--                        <li><a href="#">link 1</a></li>-->
<!--                        <li><a href="#">link 2</a></li>-->
<!--                        <li><a href="#">link 3</a></li>-->
<!--                        <li><a href="#">link 4</a></li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--                <div class="sidebar_base"></div>-->
<!--            </div>-->
            <div class="sidebar">
                <div class="sidebar_top"></div>
                <div class="sidebar_item">
                    <h3>Поиск</h3>
                    <form method="post" action="#" id="search_form">
                        <p>
                            <input class="search" type="text" name="search_field" value="Введите слово....."/>
                            <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;"
                                   src="style/search.png" alt="Search" title="Search"/>
                        </p>
                    </form>
                </div>
                <div class="sidebar_base"></div>
            </div>
        </div>