<div id="header">
    <div id="logo">
        <div id="logo_text">
            <!-- class="logo_colour", allows you to change the colour of the text -->
            <h1><a href="/">Интернет-магазин<span class="logo_colour">Хозтовары</span></a></h1>
        </div>
    </div>
    <div id="menubar">
        <ul id="menu">
            <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
            <li {% if path == "/" %}class="selected"{% endif %}><a href="/">Главная</a></li>
            <li {% if path == "/products/" %}class="selected"{% endif %}><a href="products">Товары</a></li>
            <li {% if path == "/contacts/" %}class="selected"{% endif %}><a href="contacts">Контакты</a></li>
        </ul>
    </div>
</div>