{% extends "base.html" %}
{% block style %}
    {% include "inc-style.html" %}
{% endblock %}

{% block header %}
    {% include "inc-main-menu.html" %}
{% endblock %}
{% block sidebar %}
    {% include "inc-sidebar.html" %}
{% endblock %}
{% block content %}
    <!-- insert the page content here -->
    <h1>Продукты интенет-магазина "Хозтовары</h1>
    <ul class="goods-list">
        {% for product in product_list %}
            <li class="goods-item">
                <h3>{{ product.name }}</h3>
                <img src="{{ product.img }}" alt="Товар {{ product.name }}">
                <p>{{ product.desc }}</p>
                <p>Цена: {{ product.price }} руб.</p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
